Completion:
    HeaderInsertion: Never

---
If:
    PathMatch: .*\.(cpp|hpp|h)$
    CompileFlags:
    Add: [-std=c++26]
  
---
If:
    PathMatch: .*\.c$
    CompileFlags:
    Add: [-std=c23, -D_GNU_SOURCE]
